


#pandas==1.3.0
# Streamlit requires this Version  
bokeh

# Bokeh is trying to use np.bool8. np.bool8 is known to exist this Version
#numpy

matplotlib
altair
streamlit
#streamlit==1.8.0
vega_datasets 


